@use '../abstracts' as *;

html {
  font-size: 100%;
}

body {
  background-color: $color-primary;
  color: $color-light;
}

::selection {
  background-color: $color-primary;
  color: #fff;
}

:focus-visible {
  outline: 2px solid $color-primary;
  outline-offset: 3px;
}
